@import "@fontsource/poppins/200.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/600.css";

$font: "Poppins", sans-serif;
$white: #f1f2f4;
$black: #211f25;
$primary-color: #f5c330;
$secondary-color: #82b128;
$bg: #f4db6b49;
