@use "@fontsource-variable/jetbrains-mono/wght.css";

// COLOR

$base: #d91a2a;
$important: #a63232;
$warning: #f2505d;

// FONTS

$primary-font: "arial", sans-serif;
$secondary-font: "JetBrains Mono Variable", monospace;

// SHADOW

$shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.6);
