@use "base" as *;
@use "sass:color";

body {
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  font: {
    family: arial;
    weight: bold;
  }
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin generate-color-scale($base-color) {
  @for $i from 1 through 4 {
    &darken-#{$i} {
      color: white;
      background-color: color.adjust($base-color, $lightness: -($i * 10%));
    }
    &lighten-#{$i} {
      background-color: color.adjust($base-color, $lightness: $i * 10%);
    }
  }

  &base-color {
    width: 150px;
    background-color: $base-color;
  }
}

$palette: (
  "red": $red,
  "blue": $blue,
  "green": $green,
);

@each $name, $value in $palette {
  .#{$name}- {
    @include generate-color-scale($value);
  }
}
